SBM.WebForms/Service References/SBMServiceReference/SendBulkeMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GDSSendBulkeMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GDSSendBulkeMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GDSSendBulkeMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GDSSendBulkeMailSoapIn">
    <wsdl:part name="parameters" element="tns:GDSSendBulkeMail" />
  </wsdl:message>
  <wsdl:message name="GDSSendBulkeMailSoapOut">
    <wsdl:part name="parameters" element="tns:GDSSendBulkeMailResponse" />
  </wsdl:message>
  <wsdl:portType name="SendBulkeMailSoap">
    <wsdl:operation name="GDSSendBulkeMail">
      <wsdl:input message="tns:GDSSendBulkeMailSoapIn" />
      <wsdl:output message="tns:GDSSendBulkeMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendBulkeMailSoap" type="tns:SendBulkeMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GDSSendBulkeMail">
      <soap:operation soapAction="http://tempuri.org/GDSSendBulkeMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendBulkeMailSoap12" type="tns:SendBulkeMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GDSSendBulkeMail">
      <soap12:operation soapAction="http://tempuri.org/GDSSendBulkeMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendBulkeMail">
    <wsdl:port name="SendBulkeMailSoap" binding="tns:SendBulkeMailSoap">
      <soap:address location="http://localhost:1194/SendBulkeMail.asmx" />
    </wsdl:port>
    <wsdl:port name="SendBulkeMailSoap12" binding="tns:SendBulkeMailSoap12">
      <soap12:address location="http://localhost:1194/SendBulkeMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>